<!DOCTYPE html>
<html>
<head>
	<style type="text/css">
	body{
	text-align: center;
}
	</style>
	<title>WebSite</title>
</head>
<body>
	<h1>Information</h1>
	<form action="/nus" method="POST" accept-charset="utf-8" >
		To check information about flight: <input type="text" name="index_id" placeholder="Enter id of flight">
		<input type="submit" value="submit">
	</form>
	<form action="/add_passenger" method="POST" accept-charset="utf-8">
		To add a passenger to random flight:<input type="text" name="Name_passenger" value="">
		<input type="submit"  value="add">

		
	</form>
	
</body>
</html>